<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :timestamp_definition %><br />
    <%= f.text_field :timestamp_definition %>
  </div>
<% 1.upto(Source::CUSTOM_FIELDS_COUNT) do |n| %>
  <div class="field">
    <%= f.label "field_#{n}_name".to_sym %><br />
    <%= f.text_field "field_#{n}_name".to_sym %>
  </div>
  <div class="field">
    <%= f.label "field_#{n}_definition".to_sym %><br />
    <%= f.text_field "field_#{n}_definition".to_sym %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
