<%= show_notice %>
<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Description:</b>
  <%= @source.description %>
</p>

<p>
  <b>Timestamp definition:</b>
  <%= @source.timestamp_definition %>
</p>

<% 1.upto(Source::CUSTOM_FIELDS_COUNT) do |n| %>
<p>
  <b>Field <%= n %> name:</b>
  <%= @source.send("field_#{n}_name") %>
</p>

<p>
  <b>Field <%= n %> definition:</b>
  <%= @source.send("field_#{n}_definition") %>
</p>
<% end %>

<h5>Message patterns</h5>
<% if @source.message_patterns.any? %> 
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Created</th>
    <th>Last Modified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render(@source.message_patterns) %>
</table>
<% else %>
  <%= content_tag :p, content_tag(:em, "No message patterns to show.") %> 
<% end %>
<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
