<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Description:</b>
  <%= @source.description %>
</p>

<p>
  <b>Timestamp definition:</b>
  <%= @source.timestamp_definition %>
</p>

<% 1.upto(Source::CUSTOM_FIELDS_COUNT) do |n| %>
<p>
  <b>Field <%= n %> name:</b>
  <%= @source.send("field_#{n}_name") %>
</p>

<p>
  <b>Field <%= n %> definition:</b>
  <%= @source.send("field_#{n}_definition") %>
</p>
<% end %>

<%= link_to 'View Message Patterns', source_message_patterns_path(@source) %> |

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
