<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @elimination_list.name %>
</p>

<p>
  <b>Description:</b>
  <%= @elimination_list.description %>
</p>

<p>
  <b>Pattern list:</b>
  <%= @elimination_list.pattern_list %>
</p>


<%= link_to 'Edit', edit_elimination_list_path(@elimination_list) %> |
<%= link_to 'Back', elimination_lists_path %>
