<%= show_notice %>
<h2><%=@investigation.name %></h2>
<div class="show_fields">
  <p>
    <%= @investigation.description %>
  </p>
</div>
<%= link_to 'Edit', edit_investigation_path(@investigation) %> |
<%= link_to 'Back', investigations_path %>
<hr>
<h4>Logs for this investigation</h4>
<% if @investigation.logs.any? %> 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Data type</th>
    <th>File</th>
    <th>Time bias</th>
    <th>Log messages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render(@investigation.logs) %>
</table>
<% else %>
  <%= content_tag :p, content_tag(:em, "Uploaded logs will be shown here.") %> 
<% end %>

<%= link_to 'Add a new log', new_investigation_log_path(@investigation) %>
