<%= show_notice %>
<p>
  <b>Name:</b>
  <%= @investigation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @investigation.description %>
</p>
<%= link_to 'Edit description', edit_investigation_path(@investigation) %>
<hr class="space">
<h5>Listing logs for investigation <%= @investigation.name %></h5>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Data type</th>
    <th>File</th>
    <th>Time bias</th>
    <th>Log messages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render(@investigation.logs) || 
    content_tag( :tr, content_tag(:td,
                                  "No logs have been uploaded yet.",
                                  colspan: 9)) %> 
</table>

<%= link_to 'Add a new log', new_investigation_log_path(@investigation) %>
