<%= form_for [@investigation, @log] do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :data_type %><br />
    <%= f.select :data_type, Log::VALID_DATA_TYPES %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field 'uploaded_file' %>
  </div>
  <div class="field">
    <%= f.label :time_bias %><br />
    <%= f.number_field :time_bias %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
