  <tr>
    <td><%= log.name %></td>
    <td><%= log.description %></td>
    <td><%= log.data_type %></td>
    <td><%= log.file %></td>
    <td><%= log.time_bias %></td>
    <td><%= log.log_messages.count %></td>
    <td><%= link_to 'Show', log %></td>
    <td><%= link_to 'Edit', edit_log_path(log) %></td>
    <td><%= link_to 'Destroy', log, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
