<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @log.name %>
</p>

<p>
  <b>Description:</b>
  <%= @log.description %>
</p>

<p>
  <b>Data type:</b>
  <%= @log.data_type %>
</p>

<p>
  <b>File:</b>
  <%= @log.file %>
</p>

<p>
  <b>Time bias:</b>
  <%= @log.time_bias %>
</p>

<div id="ignore_list_selector">
  <%= form_tag(filter_log_path, method: 'put') do %>
    <%= collection_select(:ignore_list, :id, IgnoreList.all, :id, :name) %> 
    <%= submit_tag("Apply") %>
  <% end %>
</div>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', @log.investigation %>
