<p id="notice"><%= notice %></p>

<p>
  <b>Investigation:</b>
  <%= @log.investigation_id %>
</p>

<p>
  <b>Name:</b>
  <%= @log.name %>
</p>

<p>
  <b>Description:</b>
  <%= @log.description %>
</p>

<p>
  <b>Data type:</b>
  <%= @log.data_type %>
</p>

<p>
  <b>Path:</b>
  <%= @log.path %>
</p>

<p>
  <b>Time bias:</b>
  <%= @log.time_bias %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', investigation_logs_path(@log.investigation) %>
