<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @log.name %>
</p>

<p>
  <b>Description:</b>
  <%= @log.description %>
</p>

<p>
  <b>Data type:</b>
  <%= @log.data_type %>
</p>

<p>
  <b>File:</b>
  <%= @log.file %>
</p>

<p>
  <b>Time bias:</b>
  <%= @log.time_bias %>
</p>

<div class="field" id="ignore_list_selector">
  <b>Apply Ignore List</b>
  <%= form_for @log do |f| %>
    <%= f.collection_select :applied_ignore_list, 
                            IgnoreList.all, :id, :name,
                            include_blank: true %> 
    <%= f.submit("Apply") %>
  <% end %>
</div>

<div class="field"  id="source_selector">
  <b>Apply Source Definition</b>
  <%= form_for @log do |f| %>
    <%= f.collection_select :applied_source,
                            Source.all, :id, :name,
                            include_blank: true %> 
    <%= f.submit("Apply") %>
  <% end %>
</div>
<%= link_to "Export to CSV", request.parameters.merge({ format: :csv}) %>
<% if @log.log_messages.matched.count > 0 then %>
<hr>
<%= content_tag :div, id: "charts_section" do %>
  <h2>Visualisation</h2>

  <%= chart_canvas do %> 
    <%= content_tag(:h4, "Ignored Messages") %>
    <%= ignored_messages_chart %>
  <% end %>
  <%= chart_canvas do %> 
    <%= content_tag(:h4, "Matched Messages") %>
    <%= matched_messages_chart %>
  <% end %>
  <%= chart_canvas do %> 
    <%= content_tag(:h4, "Breakdown by Name") %>
    <%= custom_name_breakdown_chart %>
  <% end %>
  <%= chart_canvas do %> 
    <%= content_tag(:h4, "Breakdown by Category") %>
    <%= category_breakdown_chart %>
  <% end %>
  <%= content_tag :div, class: "span-23" do %>
    <%= content_tag(:h4, "Breakdown for Custom Fields") %>
    <% 1.upto(Source::CUSTOM_FIELDS_COUNT) do |n| %>
      <%= chart_canvas do %> 
        <%= custom_field_breakdown_chart("field_#{n}") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr>
<% end %>
<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', @log.investigation %>
