<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @log.name %>
</p>

<p>
  <b>Description:</b>
  <%= @log.description %>
</p>

<p>
  <b>Data type:</b>
  <%= @log.data_type %>
</p>

<p>
  <b>File:</b>
  <%= @log.file %>
</p>

<p>
  <b>Time bias:</b>
  <%= @log.time_bias %>
</p>

<div id="ignore_list_selector">
  <% form_for @log do |f| %>
    <%= f.select(g','ignore_list', IgnoreList.all.collect {|i| [ i.name, i.id ] }) %>
  <% end %>
</div>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', @log.investigation %>
