<!doCTYPE html>
<html>
<head>
  <title>Log Analyzer</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= stylesheet_link_tag 'blueprint/plugins/fancy-type/screen', :media => 'screen' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> container">
  <div id="header">
    <div id="logo">
      LOG ANALYZER
    </div>
    <div id="navigation">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Investigations', investigations_path %></li>
        <li><%= link_to 'Ignore Lists', ignore_lists_path %></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer"> 
    <hr>
    <p class="alt">
      Created by Ernest Walzel (ernest.walzel@study.beds.ac.uk)<br>
    </p>
  </div>
</body>
</html>
